@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito+Sans:wght@400;600;700;800&family=Poppins:wght@400;600&family=Raleway:wght@400;700&display=swap');

.fullMainCont {
    position: relative;
    width: 100%;
    margin-bottom: 70px;
}

.mainCont {
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    /* min-height: 400px; */
    /* background-color: orange; */
}

.h2style {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.divImageHiasan3 {
    width: 7%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -30px;
    left: 10%;
    /* background-color: pink; */
}

.divImageHiasan4 {
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 40px;
    right: 120px;
    /* background-color: pink; */
}

@media only screen and (max-width: 925px) {
    /*untuk mobile version*/
    .h2style {
        width: 100%;
    }
    .divImageHiasan3 {
        width: 12%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: -35%;
        left: 5%;
        /* background-color: pink; */
    }

    .divImageHiasan4 {
        width: 10%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        bottom: 0;
        right: 20px;
        /* background-color: pink; */
    }
}

@media only screen and (min-width: 1500px) {
    /*untuk desktop 1500 version (zomm out sekitar 75%)*/
    .fullMainCont {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1900px) {
    /*untuk desktop 1900 version (zomm out sekitar 67%)*/
    .fullMainCont {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
